*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.logo{
    width: 40%;
    margin-left: 3%;
}

.navbar{
    margin-left: 57%;
    width: 40%;
}

/* hero section */

#hero h1 span{
    color: #3498db;
}
#hero h2{
    margin-top: 20px;
    width: 75%;
}

#hero .container .row img{
    width: 350px;
    height: 40%;
    margin-left: -25%;
}

