*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width: 45%;
}

.navbar{
    /* border: 2px solid red; */
    margin-left: 60%;
    width: 40%;
}

.info{
    width: 100%;
    height: 950px;
    /* margin-left: 20px; */
    margin-bottom: 10px;
    border-radius: 30px;
}

.info  .left{
    width: 60%;
    height: 900px;
    margin-left: 15px;
    background-color:  rgb(116, 199, 254,0.2);
    border-radius: 30px;
    margin-top: -25px;
}

.info .left .ad{
    width: 95%;
    height: 330px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
    color: black;
}

.info .left .dis{
    width: 95%;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
    color: black;
}

.info .right{
    border: 2px solid gray;
    box-shadow: 5px 5px gray;
    width: 37%;
    height: 350px;
    margin-left: 62%;
    /* float: right; */
    margin-top: -45%;
    /* margin-right: 15px; */
}
.info .right img{
    width: 100%;
    height: 100%;
}